{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hemolab - Unidades</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css'%}">
    <script src='main.js'></script>
</head>

<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="Logo do site">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Certificados</a></li>
                <li><a href="#">Unidades</a></li>
                <li><a href="#">Quem Somos</a></li>
            </ul>
        </nav>

        <div class="contato-conteiner">
            <p> (84) 3616-5000</p>
            <p> (84) 3616-5000</p>
        </div>

        <p class="Resultados">Resultados</p>
        <p class="Compre-online">Compre Online</p>
    </header>
    <main>
        <section>
            <div class="carrossel">
                <div class="slider">
                    <div class="slide">
                        <img src="{% static 'img/carrosel-1.png' %}" alt="Baixe nosso app">
                        <div class="slide__overlay">
                            <h2 class="slide__title">Baixe o novo app Hemolab</h2>
                            <p class="slide__desc">
                                Acesso os resultados dos exames, encontre a unidade mais próxima e muito mais.
                            </p>
                            <a href="https://play.google.com/store/apps/details?id=br.com.nd.hemolab.app"
                                target="_blank" class="btn" rel="noopener noreferrer">
                                Acessar agora
                            </a>
                        </div>
                    </div>
                    <div class="slide">
                        <img src="{% static 'img/carrosel-2.png' %}" alt="Coleta domiciliar">
                        <div class="slide__overlay">
                            <h2 class="slide__title">Coleta Domiciliar</h2>
                            <p class="slide__desc">
                                Acesse os resultados dos exames, encontre a unidade mais próxima e muito mais.
                            </p>
                            <a href="https://play.google.com/store/apps/details?id=br.com.nd.hemolab.app"
                                target="_blank" class="btn" rel="noopener noreferrer">
                                Acessar agora
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="principios">
            <div class="box-principios">
                <h1>O Hemolab</h1>
                <div class="texto-principios">Sempre pautado em princípios éticos e composto por uma equipe de
                    profissionais capacitados, investe
                    na
                    excelência de métodos através da participação de programa de qualidade nacional, de educação
                    continuada
                    e do emprego de tecnologia de automação nos seus processos analíticos.
                </div>
                <p class="texto-principios-2">
                    Estes requisitos, aliado ao espírito de bem servir à nossa clientela, nos confere o lugar de
                    destaque no
                    cenário da análise clínica do estado do Rio Grande do Norte.
                </p>
                <a class="btn-princpios" href="#">Saiba mais</a>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZALhLc3D-4w?si=YnSfT0z6Fare84eM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>

        <section>

            <div class="container">
                <div class="bg-img">
                    <div class="linha-coluna">
                        <p class="titulo-servico">
                            Nossos serviços
                        </p>
                        <div class="servicos-desc">
                            <p>O Hemolab dispõe de serviços de diagnose nas mais diversas áreas com os melhores serviços
                                e profissionais.</p>
                            <a class="btn-princpios" href="#">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="linha-flex">
                    <div class="linha-flex-clouna-1">
                        <img src="{% static 'img/blood.png' %}" alt="Coleta domiciliar">
                        <div class="descrição">Coletas externas</div>
                    </div>
                    <div class="linha-flex-coluna-2">
                        <img src="{% static 'img/hard.png' %}" alt="Coleta domiciliar">
                        <div class="descrição">Drive-thru</div>
                    </div>
                </div>
            </div>


        </section>

        <section>
            <h2>Unidades Hemolab</h2>
            <p>Tem sempre um Hemolab perto de você! O Hemolab conta com unidades completas, com o melhor atendimento,
                espalhadas por toda Natal e Grande Natal.</p>
            <p>OBS: Coletas são realizadas até 1 hora antes do fechamento (Exceto Petrópolis).</p>
        </section>

        <section>
            <h3>Unidades</h3>
            <ul>
                <li>
                    <h4>Hemolab - Petrópolis</h4>
                    <p>Endereço: Av. Deodoro da Fonseca, 284 - Petrópolis, Natal - RN</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 17:00h, Sábado das 6:30h às 13:00h</p>
                </li>
                <li>
                    <h4>Hemolab - Nascimento de Castro</h4>
                    <p>Endereço: Av. Nascimento de Castro, 1909 - Lagoa Nova</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 16:00h, Sábado das 6:30h às 12:00h</p>
                </li>
                <li>
                    <h4>Hemolab - Miguel Castro</h4>
                    <p>Endereço: Av. Miguel Castro, 1137, Lagoa Nova</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 12:00h, Sábado das 6:30h às 10:30h</p>
                </li>
                <li>
                    <h4>Hemolab - Capim Macio</h4>
                    <p>Endereço: Av. Engenheiro Roberto Freire, 915 - Capim Macio, Natal - RN</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 16:00h, Sábado das 6:30h às 12:00h</p>
                </li>
                <li>
                    <h4>Hemolab - Cidade da Esperança</h4>
                    <p>Endereço: Av. Paraíba, 120 - Cidade da Esperança, Natal - RN</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 12:00h, Sábado das 6:30h às 10:30h</p>
                </li>
                <!-- Adicione mais unidades conforme necessário -->
            </ul>
        </section>
        <section>
            <h2>Serviços</h2>
            <p>O Hemolab dispõe de serviços de diagnose nas mais diversas áreas como:</p>
            <ul>
                <li>Biologia Molecular</li>
                <li>Hematologia</li>
                <li>Imuno-hematologia</li>
                <li>Citometria de Fluxo</li>
                <li>Bioquímica</li>
                <li>Imunologia</li>
                <li>Hormônios</li>
                <li>Urinálises</li>
                <li>Parasitologia</li>
                <li>Microbiologia</li>
                <li>Micologia</li>
                <li>Análises Clínicas com recursos e equipamentos de ponta</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>© 2023 Hemolab, Todos os direitos reservados.</p>
        <p>Desenvolvido por lartsdesign.com.br</p>
        <a href="#">Políticas de Privacidade</a>
    </footer>
</body>

</html>