{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hemolab - Unidades</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css'%}">
    <script src='main.js'></script>
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="Logo do site">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Certificados</a></li>
                <li><a href="#">Unidades</a></li>
                <li><a href="#">Quem Somos</a></li>
            </ul>
        </nav>
        <p>Contato: (84) 3616-5000</p>
        <p class="Resultados">Resultados</p>
        <p class="Compre-online">Compre Online</p>
    </header>
    <main>
        <section>
            <h2>Unidades Hemolab</h2>
            <p>Tem sempre um Hemolab perto de você! O Hemolab conta com unidades completas, com o melhor atendimento, espalhadas por toda Natal e Grande Natal.</p>
            <p>OBS: Coletas são realizadas até 1 hora antes do fechamento (Exceto Petrópolis).</p>
        </section>

        <section>
            <h3>Unidades</h3>
            <ul>
                <li>
                    <h4>Hemolab - Petrópolis</h4>
                    <p>Endereço: Av. Deodoro da Fonseca, 284 - Petrópolis, Natal - RN</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 17:00h, Sábado das 6:30h às 13:00h</p>
                </li>
                <li>
                    <h4>Hemolab - Nascimento de Castro</h4>
                    <p>Endereço: Av. Nascimento de Castro, 1909 - Lagoa Nova</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 16:00h, Sábado das 6:30h às 12:00h</p>
                </li>
                <li>
                    <h4>Hemolab - Miguel Castro</h4>
                    <p>Endereço: Av. Miguel Castro, 1137, Lagoa Nova</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 12:00h, Sábado das 6:30h às 10:30h</p>
                </li>
                <li>
                    <h4>Hemolab - Capim Macio</h4>
                    <p>Endereço: Av. Engenheiro Roberto Freire, 915 - Capim Macio, Natal - RN</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 16:00h, Sábado das 6:30h às 12:00h</p>
                </li>
                <li>
                    <h4>Hemolab - Cidade da Esperança</h4>
                    <p>Endereço: Av. Paraíba, 120 - Cidade da Esperança, Natal - RN</p>
                    <p>Telefone: (84) 3616-5000</p>
                    <p>Horário: Segunda à Sexta das 6:00h às 12:00h, Sábado das 6:30h às 10:30h</p>
                </li>
                <!-- Adicione mais unidades conforme necessário -->
            </ul>
        </section>
        <section>
            <h2>Serviços</h2>
            <p>O Hemolab dispõe de serviços de diagnose nas mais diversas áreas como:</p>
            <ul>
                <li>Biologia Molecular</li>
                <li>Hematologia</li>
                <li>Imuno-hematologia</li>
                <li>Citometria de Fluxo</li>
                <li>Bioquímica</li>
                <li>Imunologia</li>
                <li>Hormônios</li>
                <li>Urinálises</li>
                <li>Parasitologia</li>
                <li>Microbiologia</li>
                <li>Micologia</li>
                <li>Análises Clínicas com recursos e equipamentos de ponta</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>© 2023 Hemolab, Todos os direitos reservados.</p>
        <p>Desenvolvido por lartsdesign.com.br</p>
        <a href="#">Políticas de Privacidade</a>
    </footer>
</body>
</html>