header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 20px; 
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.1);
    height: 80px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

header h1 {
    margin: 0;
    white-space: nowrap; /* Impede quebra de linha no título */
    font-size: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    color: #213360;
    font-size: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
}

header p {
    margin: 0;
    white-space: nowrap;
}
.Resultados{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    margin: 5px;
    border-radius: 50px;
    background-color: #00989E;;
}
.Compre-online{
     display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    margin: 5px;
    border-radius: 50px;
    background-color:  #00a3e8;
}