body {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.1);
    height: 80px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #213360;
    width: 100vw;
    padding-left: 68px;
    padding-right: 20px;
    box-sizing: border-box;
}


header h1 {
    margin: 0;
    white-space: nowrap;
    font-size: 10px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    color: #213360;
}
nav ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  gap: 20px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px 0 10px 0;
  display: block;
  font-weight: 500;
  cursor: pointer;
}

/* Barrinha no topo dos itens*/
nav ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #00989E;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  border-radius: 2px 2px 0 0;
  pointer-events: none;
}

/* Barrinha aparece ao passar o mouse */
nav ul li:hover::before {
  transform: scaleX(1);
}

header p {
    margin: 0;
    white-space: nowrap;
}

.contato-conteiner {
    font-family: Quicksand, sans-serif;
    color: #1A274A;
    font-size: 16px;
    font-weight: bold;
    margin: 0; 

}

.Resultados {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    margin: 5px;
    border-radius: 50px;
    background-color: #00989E;
    color: #ffff;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.Compre-online {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    margin: 5px;
    border-radius: 50px;
    background-color: #00a3e8;
    color: #ffff;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* Carousel container exibe apenas uma imagem */
.carrossel {
    width: 100%; 
    max-width: 100vw; 
    height: 600px;
    overflow: hidden;
    padding: 5px;
}

/* Slider é container flex com as imagens em linha */
.slider {
    display: flex;
    width: calc(100vw * 2);
    animation: slide 15s ease-in-out infinite;
}

/* Cada slide é position relative para posicionar overlay */
.slide {
    position: relative;/
    width: 100vw;
    height: 600px;
    flex-shrink: 0;
    border-radius: 12px;
    overflow: hidden;
}

/* Imagens ajustadas ao container */
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

/* Overlay textual posicionado sobre a imagem */
.slide__overlay {
    position: absolute;
    bottom: 120px;
    left: 84px;
    max-width: 450px;
    color: #0E204D;
    font-family: Quicksand, sans-serif;

    padding: 24px 32px;
    border-radius: 16px;
}

/* Estilos para o título e descrição */
.slide__title {
    margin: 0 0 25px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}

.slide__desc {
    margin: 0 0 24px 0;
    font-size: 1.125rem;
    line-height: 1.5;
}

/* Botão */
.btn {
    background-color: #00989E;
    color: white;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover,
.btn:focus {
    background-color: #00a3e8;
}

.principios{
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: center;
    align-items: center;
    gap: 110px;
    padding: 20px; 
}
.box-principios{
    width: 550px;
    height: 450px;
    position: relative; 
    padding-left: 20px; 
}
.box-principios > h1{
    color: #0E204D;
    font-family: Quicksand, sans-serif;
    font-size: 40px;
}
.box-principios > div{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #213360;
    margin: 0px 0px 30px;
    font-weight: 700;
}
.texto-principios {
    position: relative; 
    padding-left: 35px;
}
.texto-principios::before {
    content: "";
    position: absolute;
    left: 0; 
    top: 0;
    width: 2px; 
    height: 100%; 
    background-color: #213360; 
    border-radius: 3px;
 
}
.texto-principios-2{
    padding-left: 35px;
     font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #213360;
    margin: 0px 0px 30px;

}
.btn-princpios{
    padding-left: 35px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #ffff;
    margin: 0px 0px 30px;
    background-color: #00989E;
    height: 50px;
    width: 120px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-decoration: none;
}
.video{
    width: 450px;
    height: 253px;
}
/*section Nossos Serviços*/
.bg-img{
    background-image: url('/static/img/servicos-home.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 350px;
}
.linha-coluna{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    height: 100%;
   
}
.titulo-servico{
    font-size: 37px;
    color: #0e204d;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
.servicos-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    gap: 25px;
}
.servicos-desc > p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #848e9f;
    width: 450px;
    gap: 180px;
}
.linha-flex{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 100px;
    background-color: #f0f6f6ed;
}
.linha-flex-clouna-1{
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 270px;
    height: 170px;
    border-radius:30px ;
    background-color: #ffff;
    color: #0E204D;
     font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 230px;
}

.linha-flex-coluna-2{
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 170px;
    border-radius:30px ;
    background-color: #ffff;
    color: #0E204D;
     font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 230px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100vw);
    }

    90% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .carrossel {
        width: 100vw;
        height: 400px;
    }

    .slider {
        width: calc(100vw * 2);
        animation: slide-mobile 15s ease-in-out infinite;
    }

    .slider img {
        width: 100%;
        height: 100%;
    }

    .slide__overlay {
        bottom: 16px;
        left: 16px;
        max-width: 90%;
        padding: 16px 20px;
    }

    .slide__title {
        font-size: 1.5rem;
    }

    .slide__desc {
        font-size: 1rem;
    }

    .btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}


@keyframes slide-mobile {
    0% {        transform: translateX(0);
    }

    40% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100vw);
    }

    90% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}