{% extends "global.html" %}
{% load static %}

{% block titulo %}Hemolab Serviços{% endblock %}

{% block main %}

<link rel='stylesheet' href="{% static 'css/pag1.css' %}">

<div class="box1">
    <div class="sub-box1">
        <img src="{% static 'img/icone0.png' %}" alt="">
        <h1>Serviços</h1>
        <p>O Hemolab, dispõe de serviços de diagnose nas mais diversas áreas como biologia molecular, hematologia, imuno-hematologia, citometria de fluxo, bioquímica, imunologia, hormônios, urinálises, parasitologia, microbiologia, micologia, análises clinicas com recursos e equipamentos de ponta. </p>
    </div>
</div>

<div class="fundo-box2">
    <div class="box2-titulo">
        <p>Confiabilidade e experiência</p>
        <h1>Confira os principais exames que ofertamos</h1>
    </div>

    <div class="sub-boxs">
        <div class="sub-box">
            <img src="{% static 'img/icone1.png' %}" alt="">
            <h3>Vacinas</h3>
            <p>O hemolab Vacinas é localizado na nossa Unidade Capim Macio, dispõe de vacinas para todas as fases da vida, do infantil a melhor idade.</p>
        </div>
        <div class="sub-box">
            <img src="{% static 'img/icone2.png' %}" alt="">
            <h3>Coletas externas</h3>
            <p>PPraticidade, conforto e segurança são os principais benefícios do serviço de coleta externa do Hemolab, basta agendar com pelo menos 24h de antecedência.</p>
        </div>
        <div class="sub-box">
            <img src="{% static 'img/icone3.png' %}" alt="">
            <h3>Drive-thru</h3>
            <p>Nosso drive-thru é ideal para sua coleta de exames com mais segurança e comodidade fica localizado na Av. Nascimento de Castro, 1909. </p>
        </div>
    </div>
</div>

{% endblock %}
