{% extends "global.html" %}
{% load static %}

{% block title %}Hemolab Serviços{% endblock %}

{% block main %}

<link rel='stylesheet' href="{% static 'css/pag2.css' %}">

<div class="box1">
    <div class="sub-box1">
        <img src="{% static 'img/unidades.png' %}" alt="">
        <h1>Unidades</h1>
        <p>Tem sempre um Hemolab perto de você! O Hemolab conta com unidades completas, com o melhor atendimento, espalhadas por toda Natal e Grande Natal.</p>
    </div>
</div>

<div class="fundo-box2">
    <div class="box2-titulo">
        <p>Sempre próximos de você</p>
        <h1>Encontre a unidade Hemolab mais próxima</h1>
    </div>

    <div class="sub-boxs">
        <div class="sub-box">
            <img width="350px" src="{% static 'img/petropolis.png' %}" alt="">
            <h3>Hemolab - Petrópolis</h3>
            <ul>
                <li>Av. Deodoro da Fonseca, 284 - Petrópolis, Natal - RN</li>
                <li>(84) 3616-5000</li>
                <li>Segunda à Sexta das 6:00h às 17:00h Sábado das 6:30h às 13:00h</li>
            </ul>
        </div>
        <div class="sub-box">
            <img width="350px" src="{% static 'img/nascimento de castro.png' %}" alt="">
            <h3>Hemolab - Nascimento de Castro</h3>
            <ul>
                <li>Av. Nascimento de Castro, 1909 - Lagoa Nova</li>
                <li>(84) 3616-5000</li>
                <li>Segunda à Sexta das 6:00h às 16:00h Sábado das 6:30h às 12:00h</li>
            </ul>
        </div>
        <div class="sub-box">
            <img width="350px" src="{% static 'img/miguel castro.png' %}" alt="">
            <h3>Hemolab - Miguel Castro</h3>
            <ul>
                <li>Av. Miguel Castro, 1137, Lagoa Nova</li>
                <li>(84) 3616-5000</li>
                <li>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}
