{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hemolab - Unidades</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css'%}">
    <script src='main.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    
    <header>
        <img src="{% static 'img/logo.png' %}" alt="Logo do site">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Certificados</a></li>
                <li><a href="#">Unidades</a></li>
                <li><a href="#">Quem Somos</a></li>
            </ul>
        </nav>

        <div class="contato-conteiner">
            <p> (84) 3616-5000</p>
            <p> (84) 3616-5000</p>
        </div>

        <p class="Resultados">Resultados</p>
        <p class="Compre-online">Compre Online</p>
    </header>
    
    <main>
        <section>
            <div class="carrossel">
                <div class="slider">
                    <div class="slide">
                        <img src="{% static 'img/carrosel-1.png' %}" alt="Baixe nosso app">
                        <div class="slide__overlay">
                            <h2 class="slide__title">Baixe o novo app Hemolab</h2>
                            <p class="slide__desc">
                                Acesso os resultados dos exames, encontre a unidade mais próxima e muito mais.
                            </p>
                            <a href="https://play.google.com/store/apps/details?id=br.com.nd.hemolab.app"
                                target="_blank" class="btn" rel="noopener noreferrer">
                                Acessar agora
                            </a>
                        </div>
                    </div>
                    <div class="slide">
                        <img src="{% static 'img/carrosel-2.png' %}" alt="Coleta domiciliar">
                        <div class="slide__overlay">
                            <h2 class="slide__title">Coleta Domiciliar</h2>
                            <p class="slide__desc">
                                Acesse os resultados dos exames, encontre a unidade mais próxima e muito mais.
                            </p>
                            <a href="https://play.google.com/store/apps/details?id=br.com.nd.hemolab.app"
                                target="_blank" class="btn" rel="noopener noreferrer">
                                Acessar agora
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="principios">
            <div class="box-principios">
                <h1>O Hemolab</h1>
                <div class="texto-principios">Sempre pautado em princípios éticos e composto por uma equipe de
                    profissionais capacitados, investe
                    na
                    excelência de métodos através da participação de programa de qualidade nacional, de educação
                    continuada
                    e do emprego de tecnologia de automação nos seus processos analíticos.
                </div>
                <p class="texto-principios-2">
                    Estes requisitos, aliado ao espírito de bem servir à nossa clientela, nos confere o lugar de
                    destaque no
                    cenário da análise clínica do estado do Rio Grande do Norte.
                </p>
                <a class="btn-princpios" href="#">Saiba mais</a>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZALhLc3D-4w?si=YnSfT0z6Fare84eM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>

        <section>

            <div class="container">
                <div class="bg-img">
                    <div class="linha-coluna">
                        <p class="titulo-servico">
                            Nossos serviços
                        </p>
                        <div class="servicos-desc">
                            <p>O Hemolab dispõe de serviços de diagnose nas mais diversas áreas com os melhores serviços
                                e profissionais.</p>
                            <a class="btn-princpios" href="#">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="desc-colum">
                    <div class="linha-flex">
                        <div class="linha-flex-clouna-1">
                            <img src="{% static 'img/blood.png' %}" alt="Coleta domiciliar">
                            <div class="descrição">Coletas externas</div>
                        </div>
                        <div class="linha-flex-coluna-2">
                            <img src="{% static 'img/hard.png' %}" alt="Coleta domiciliar">
                            <div class="descrição">Drive-thru</div>
                        </div>
                    </div>
                    <div class="desc">
                        <p>Equipamentos de alta tecnologia, atendimento de excelência e confiança nos resultados!</p>
                        <a href="#">Entre em contato ➜</a>
                    </div>
                </div>
            </div>


        </section>

        <section class="desc-unidades">
            <div class="container-desc-unidades-1">
                <h2>Unidades Hemolab</h2>
                <p>Tem sempre um Hemolab perto de você! </p>
                <p>OBS: Coletas são realizadas até 1 hora antes do fechamento <br> (Exceto Petrópolis).</p>
            </div>
            <div class="container-desc-unidades-2">
                <button aria-label="Botão anterior">&lt;</button>
                <button aria-label="Botão próximo">&gt;</button>
            </div>
        </section>

        <section class="unidades-geral">
            <div class="carrossel-unidades">
                <ul>
                    <li>
                        <img src="{% static 'img/petropolis.png' %}" alt="img hemolab petropolis">
                        <h4>Hemolab - Petrópolis</h4>
                        <p>Endereço: Av. Deodoro da Fonseca, 284 - Petrópolis, Natal - RN</p>
                        <p>Telefone: (84) 3616-5000</p>
                        <p>Horário: Segunda à Sexta das 6:00h às 17:00h, Sábado das 6:30h às 13:00h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/nascimento de castro.png' %}" alt="img hemolab nasciemnto de castro">
                        <h4>Hemolab - Nascimento de Castro</h4>
                        <p>Endereço: Av. Nascimento de Castro, 1909 - Lagoa Nova</p>
                        <p>Telefone: (84) 3616-5000</p>
                        <p>Horário: Segunda à Sexta das 6:00h às 16:00h, Sábado das 6:30h às 12:00h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/miguel castro.png' %}" alt="img hemolab miguel castro">
                        <h4>Hemolab - Miguel Castro</h4>
                        <p>Endereço: Av. Miguel Castro, 1137, Lagoa Nova</p>
                        <p>Telefone: (84) 3616-5000</p>
                        <p>Horário: Segunda à Sexta das 6:00h às 12:00h, Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/roberto freire e vacinas.png' %}" alt="#">
                        <h4>Hemolab - Capim Macio</h4>
                        <p>Endereço: Av. Engenheiro Roberto Freire, 915 - Capim Macio, Natal - RN</p>
                        <p>Telefone: (84) 3616-5000</p>
                        <p>Horário: Segunda à Sexta das 6:00h às 16:00h, Sábado das 6:30h às 12:00h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/esperanca.png' %}" alt="#">
                        <h4>Hemolab - Cidade da Esperança</h4>
                        <p>Endereço: Av. Paraíba, 120 - Cidade da Esperança, Natal - RN</p>
                        <p>Telefone: (84) 3616-5000</p>
                        <p>Horário: Segunda à Sexta das 6:00h às 12:00h, Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/coophab.png' %}" alt="#">
                        <h4>Hemolab - Coophab</h4>
                        <p>Av. Olavo Lacerda Montenegro, 3345 - Parque das Nações, Parnamirim - RN</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/itapetinga.png' %}" alt="#">
                        <h4>Hemolab - Itapetinga</h4>
                        <p>Avenida Itapetinga, 920 - Potengi</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/rua ilheus.png' %}" alt="#">
                        <h4>Hemolab - Potengi</h4>
                        <p>Rua Ilhéus, 2706 - Potengi</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/sao goncalo.png' %}" alt="#">
                        <h4>Hemolab - São Gonçalo do Amarante</h4>
                        <p>Centro Médico Carajás - Av. Bacharel Tomaz Landim, SN, São Gonçalo do Amarante - RN</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/praia shopping.png' %}" alt="#">
                        <h4>Hemolab - Praia Shopping</h4>
                        <p>Av. Engenheiro Roberto Freire, 3132 - Capim Macio</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/maria lacerda.jpg' %}" alt="#">
                        <h4>Hemolab - Maria Lacerda</h4>
                        <p>Nordestão - Av. Maria Lacerda Montenegro, 1400 - Nova Parnamirim</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/boa esperaca.png' %}" alt="#">
                        <h4>Hemolab - Parnamirim</h4>
                        <p>Av. Prof. Clementino Câmara, 227 - Centro, Parnamirim - RN</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/neoplis.png' %}" alt="#">
                        <h4>Hemolab - Neópolis</h4>
                        <p>R. Divinópolis, 2976 - Neópolis, Natal - RN</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/satelite.jpg' %}" alt="#">
                        <h4>Hemolab - Satélite</h4>
                        <p>Av. dos Xavantes, 1765 - Cidade Satélite, Natal - RN</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                    <li>
                        <img src="{% static 'img/parnamirim2.jpg' %}" alt="#">
                        <h4>Hemolab - Parnamirim II</h4>
                        <p>R. Edgar Dantas, 451 - Santos Reis, Parnamirim - RN</p>
                        <p>(84) 3616-5000</p>
                        <p>Segunda à Sexta das 6:00h às 12:00h Sábado das 6:30h às 10:30h</p>
                    </li>
                </ul>

            </div>
            <div class="container-unidades-more">
                <div class="carrosel-unidades-more">
                    <div class="position-uniades">
                        <button class="indicator active"></button>
                        <button class="indicator"></button>
                        <button class="indicator"></button>
                    </div>
                    <button class="todas-unidades">Todas as unidades ➜</button>
                </div>
            </div>

        </section>


        <section class="container-certificados">
            <h4>Certificados</h4>
            <p>O laboratório pioneiro do Rio Grande do Norte certificado pelo Sistema Nacional de Acreditação da
                Sociedade Brasileira de Análises Clínicas.</p>
            <div class="Certificados">
                <div class="member__info">
                    <img src="{% static 'img/PNCQ.png' %}" alt="#">
                    <h5 class="member__name"><a href="certificados.html">Excelência Laboratorial</a></h5>
                    <p class="member__job">Categoria Diamante</p>
                    <p class="member__desc">Certificado concedido pelo Programa Nacional de Controle de Qualidade (PNCQ)
                        aos laboratórios que tiveram 20 anos de excelente desempenho.
                    </p>
                </div>
                <div class="member__info">
                    <img src="{% static 'img/DICQ.png' %}" alt="#">
                    <h5 class="member__name"><a href="certificados.html">DICQ</a></h5>
                    <p class="member__job">Sistema Nacional de Acreditação</p>
                    <p class="member__desc">Pioneiros no RN com certificado pelo Sistema Nacional de Acreditação da
                        Sociedade Brasileira de Análises Clínicas.
                    </p>
                </div>
            </div>
            <div class="container-saiba-mais">
                <a class="btn-princpios" href="#">Saiba mais</a>
            </div>
        </section>

        <!-- Radios que controlam o carrossel -->
        <input type="radio" name="feedback" id="f1" checked>
        <input type="radio" name="feedback" id="f2">
        <input type="radio" name="feedback" id="f3">

        <section class="feedback-section">


            <!-- Seção de Feedback -->
             <div class="container-feedback">
                 <!-- Avatares -->
            <div class="avatars">
                <label class="avatar" for="f1">
                    <img src="{% static 'img/1.png' %}" alt="Riedja">
                    <span>Riedja Porto</span>
                </label>
                <label class="avatar" for="f2">
                    <img src="{% static 'img/2.jpg' %}" alt="Juliana">
                    <span>Juliana Schivan</span>
                </label>
                <label class="avatar" for="f3">
                    <img src="{% static 'img/3.jpg' %}" alt="Lidiane">
                    <span>Lidiane Freitas</span>
                </label>
            </div>

            <div class="feedback-content">
                <div class="feedback-display">
                    <h2 class="feedback-title">Feedbacks</h2>
                    <p class="feedback-text f-text f1">“Apesar de sempre muito movimentado, o atendimento é rápido.
                        A equipe muito atenciosa e cordial.”</p>
                    <p class="feedback-text f-text f2">“Super recomendo. Muito organizado, atendimento super rápido, pega o
                  resultado pela internet e saí muito rápido e com o histórico dos resultados de exames anteriores.”</p>
                    <p class="feedback-text f-text f3">“Quero dizer que fui muito bem atendida, desde a recepção até a coleta,
                  muito simpática e cuidadosa, mãos de fada, não senti dor e foi super agradável.....Fiquei muito feliz
                  e voltei para casa satisfeita. Obrigada....Gratidão!!!!!”</p>
                </div>
            </div>

             </div>


           

            <!-- Indicadores -->
            <div class="indicators">
                <span class="dot" data-id="1"></span>
                <span class="dot" data-id="2"></span>
                <span class="dot" data-id="3"></span>
            </div>


        </section>
        <section class="section-convenios">
            <h2>Convênios</h2>
            <p>Dependendo da unidade, certos convênios podem não ser aceitos. Para mais detalhes, contatar a unidade de interesse.</p>

            <div class="carousel-container">
                <button class="carousel-button prev" onclick="document.querySelector('.carousel-wrapper').scrollBy({left: -300, behavior: 'smooth'})">‹</button>

                <div class="carousel-wrapper">
                <div class="img-convenio"><img src="{% static 'img/convenios/amil.png' %}" alt="amil convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/assefaz.png' %}" alt="assefaz convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/bradesco.png' %}" alt="bradesco convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/caixa.png' %}" alt="caixa convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/camed.png' %}" alt="camed convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/cassi.png' %}" alt="cassi convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/caurn.png' %}" alt="caurn convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/conab.png' %}" alt="conab convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/fachesf.png' %}" alt="fachesf convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/gama.png' %}" alt="gama convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Geap.png' %}" alt="geap convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/golden-cross.png' %}" alt="golden cross convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/hapvida.png' %}" alt="hapvida convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Unimed.png' %}" alt="Unimed convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Humana.png' %}" alt="Humana convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Mediservice.png' %}" alt="Mediservice convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/NotreDame.png' %}" alt="Notredame convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Petrobras.png' %}" alt="Petrobras convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Plan-Assiste.png' %}" alt="Plan-Assiste convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Postal.png' %}" alt="Postal convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Smile.png' %}" alt="Smile convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Sulamerica.png' %}" alt="Sulamerica convênio img"></div>
                <div class="img-convenio"><img src="{% static 'img/convenios/Vitallis.png' %}" alt="Vitallis convênio img"></div>
                </div>

                <button class="carousel-button next" onclick="document.querySelector('.carousel-wrapper').scrollBy({left: 300, behavior: 'smooth'})">›</button>
            </div>
        </section>
        <section class="sobre-empresa">
            <div class="conteudo-empresa">
                <img src="{% static 'img/logo-footer.png' %}" alt="Hemolab Logo" class="logo">
                <p>
                O Hemolab, dispõe de serviços de diagnose nas mais diversas áreas como biologia molecular,
                hematologia, imuno-hematologia, citometria de fluxo, bioquímica, imunologia, hormônios,
                urinálises, parasitologia, microbiologia, micologia, análises clínicas com recursos e
                equipamentos de ponta.
                </p>

                <div class="icones-sociais">
                <a href="tel:558436165000" aria-label="Telefone">
                    <i class="fas fa-phone"></i>
                </a>
                <a href="https://www.instagram.com/hemolab_rn/" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/hemolabrn" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>© 2023 Hemolab, Todos os direitos reservados. Desenvolvido por <a href="https://www.lartsdesign.com.br"  target="_blank" >lartsdesign.com.br</a></p>
        <a href="politicas_privacidade.html">Políticas de Privacidade</a>
    </footer>
    
</body>

</html>